@use '/src/variables.scss' as *;

.TodoItem {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 100%;
    margin-bottom: 0.25rem;

    &--editable {
        cursor: pointer;
    }

    &_panel {        
        display: flex;
        
        &--indented {
            margin-left: $indentation;
        }
    }

    &_info {
        background: #8882;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: $gap;
        padding: calc($gap * 0.5);
        max-height: 2rem;

        &--group {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-height: $icon-small-content;
            width: 100%;
            max-width: 100%;//calc(100% - $icon-small-content - 3 * $gap);
        }

        &:hover {
            background: #8884;

            & .TodoItem_delete, & .TodoItem_move {
                fill: #fff8;
                transition: fill 0.5s ease;

                &:hover {
                    fill: #fff;
                    transition: fill 0.5s ease;
                }
            }
        }
    }

    &_delete, &_move, &_collapse {
        width: $icon-small-content;
        height: $icon-small-content;
        max-width: $icon-small-content;
        max-height: $icon-small-content;
        fill: #fff0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: fill 0.5s ease;
    }

    &_collapse {
        fill: #fff8;
        transition: fill 0.5s ease;
        transform: rotate(180deg);

        &--collapsed {
            transform: rotate(90deg);
        }

        &:hover {
            fill: #fff;
            transition: fill 0.5s ease;
        }
    }

    &_children {
        padding-left: $indentation;
    }
}