@use '/src/variables.scss' as *;

.TodoItem {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    &--editable {
        cursor: pointer;
    }

    &_panel {
        background: #aaa4;
        max-height: 1rem;
        overflow: hidden;
        transition: max-height 1s ease;
        
        &--indented {
            margin-left: $indentation;
        }

        &:hover {
            max-height: 3rem;
            transition: max-height 1s ease;
        }

    }
    
    &_dummy {
        margin-top: 0.25rem;
        height: 3rem;
    }

    &_info {
        background: #8882;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: $gap;
        padding: calc($gap * 0.5);
        max-height: 2rem;

        &--group {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-height: $icon-small-content;
            max-width: calc(100% - $icon-small-content - 3 * $gap);
        }

        &:hover {
            background: #8884;

            & .TodoItem_delete {
                fill: #fff8;
                transition: fill 0.5s ease;

                &:hover {
                    fill: #fff;
                    transition: fill 0.5s ease;
                }
            }
        }
    }

    &_delete {
        width: $icon-small-content;
        height: $icon-small-content;
        max-width: $icon-small-content;
        max-height: $icon-small-content;
        fill: #fff0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: fill 0.5s ease;
    }

    &_children {
        padding-left: $indentation;
    }
}