@use '/src/variables.scss' as *;

$checkbox-size: min(2rem, 6vmin);

.Checkbox {
    position: relative;
    cursor: pointer;
    width: $checkbox-size;
    height: $checkbox-size;
    min-width: $checkbox-size;
    min-height: $checkbox-size;
    max-width: $checkbox-size;
    max-height: $checkbox-size;
    background-color: #eee;
    font-size: $font-size-normal;

    &:hover {
        background-color: #ccc;
    }

    &--checked {
        background-color: #2196F3;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #1186e3;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: calc($checkbox-size * 0.3);
            top: calc($checkbox-size * 0.1);
            width: calc($checkbox-size * 0.25);
            height: calc($checkbox-size * 0.5);
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}