@use '/src/variables.scss' as *;

.TodoItemTitle {
    box-sizing: border-box;
    font-size: $font-size-normal;
    border: none;
    outline: none;
    //max-height: 2rem;
    color: #fff;
    background-color: unset;
    max-width: 100%;
    width: 100%;
    padding-left: $gap;
    padding-right: $gap;
}
