@use '/src/variables.scss' as *;

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;

  &_list {
    padding-top: calc($icon-size * 1.5);
    max-width: 80vmin;
    width: 80vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_editmode {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    margin: $icon-margin;
    padding: $icon-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;
    background-color: #8884;
    border-radius: $icon-radius;
    cursor: pointer;
    fill: #fff4;
    transition: background-color 0.25s ease, fill 0.25s ease;
    
    &:hover {
      background-color: #0176c3;
      transition: background-color 0.25s ease, fill 0.25s ease;
    }

    &--active {
      background-color: #2196F3;
      fill: #fff;
      transition: background-color 0.25s ease, fill 0.25s ease;
    }

    & svg {
        width: 100%;
        height: 100%;
    }
  }
}
