$icon-size: min(5rem, 15vmin);
$icon-radius: calc($icon-size * 0.5);
$icon-padding: calc($icon-size * 0.2);
$icon-margin: calc($icon-size * 0.1);
$icon-content: calc($icon-size * 0.6);

$font-size-normal: min(2rem, 5vmin);

$icon-small-content: calc($icon-size * 0.4);

$indentation: min(2rem, 4vmin);
$gap: min(1rem, 3vmin);
